@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}

/* Global styles */
.display-flex {
    display: flex;
}
.btn-primary{
    width: 175px;
    height: 50px;
    border-radius: 50px;
    background-color: #95B226;
    color: white;
    margin-top: -800px;
    margin-left: 20px;
    border: none;
}

/* Header Styles */
.heading {
    margin: 30px 100px;
}

.school-nab {
    width: auto;
    height: 100px;
    /* gap: 30px; */
    justify-content: space-between;
    align-items: center;
}

.logo-section {
    align-items: center;
}

.nav-links {
    list-style: none;
    gap: 50px;
    font-weight: 800;
    font-size: 1.25rem;
}

.nav-item {
    margin-left: 30px;
}

.home {
    font-weight: 700;
    font-size: 1.25rem;
    color: orange;
}

.sky-blue {
    font-weight: 700;
    font-size: 1.25rem;
    color: skyblue;
}

.admission {
    color: #5D58EF;
    font-weight: 700;
    font-size: 1.25rem;

}

.nav-link {
    text-decoration: none;
}

.nav-button {
    width: 200px;
    height: 50px;
    border-radius: 12px;
    font-weight: 600;
    font-size: 1.25rem;
    color: white;
    padding: 10px;
    background-color: orange;
    border-style: none;
    margin-left: 75px;
}

/* Banner styles */
.banner-section {
    justify-content: space-between;
    align-items: center;
}

.banner-heading {
    font-weight: 800;
    font-size: 4.10rem;
}

.banner-paragraph {
    font-weight: 400;
    font-size: 1.25rem;
    color: black;
}

.banner-content {
    justify-content: space-between;
    justify-content: center;
    /* width: 600px;
    height: 300px; */

}


.empower {
    color: orange;
}

.vision {
    color: skyblue;
}

.btn-banner {
    width: 200px;
    height: 50px;
    border-radius: 12px;
    font-weight: 600;
    font-size: 1.25rem;
    color: white;
    padding: 10px;
    background-color: black;
    border-style: none;
}

/* Curriculum Section styles */
.curriculum-section {
    background-image: url('images/bg.png');
    width: auto;
    height: auto;
    margin: 0 100px;
}

.curriculum-heading {
    text-align: center;
    margin: 60px, 0;
}

.curriculum-details {
    margin-top: 60px;
    gap: 30px;
}

.curriculum-card {
    border: 2px solid bisque;
    border-radius: 18px;
    width: 400px;
    height: 380px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 30px
}

.card-heading {
    font-weight: 800;
    font-size: 2.1rem;
    color: #202020;
}

.card-content {
    font-weight: 600;
    font-size: 1rem;
    color: #808080;
}

.card-footer-content {
    font-weight: 800;
    font-size: 1rem;
}

#card-ft-01 {
    color: #64C8FF;
}

#card-ft-02 {
    color: #F0AA00;
}

#card-ft-03 {
    color: #8700FF;
}
.card-footer-content{
    padding-top: 20px;
}
/* School Stories section styles*/
.school-stories{  
    align-items: center;
    margin: 30px 100px;
    width: auto;
    background-image: url('./images/bg.jpg')
}
.stories-box{
    margin-top: 30px;
}
.storeis-left-heading,.storis-left-para{
    margin-left: 20px;
}
#story-left-btn{
    margin-left: 20px;
}
.stories-heading{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}
.stories-left-side{
   margin: 50px 0;
   align-items:flex-start;
   width: 50%;

}   
.left-side-pic{
    border-radius: 16px;
}
.storis-left-para{
    align-items: center;
}
#story-left-btn{
    background-color: #3CD8E8;
}
.stories-right-side{
    margin: 30px 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;       
}
.stories-right-img{
    border-radius: 16px;
}
.right-side-caption{
    margin-left: 20px;
    font-weight: 800;
    font-size: 1rem;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}
#story-right-2ndbtn{
    background-color: #5D58F0;
}
.viewall{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.btn-viewall{
    width: 175px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 12px;
    border: none;
    font-weight: 800;
    font-size: 1.25rem;

}
/* Footer styles */
.school-footer{
    width: auto;
    height: 400px;
    background-color: #01ACFD;
    margin-top: 60px;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 200px;
 

}
.footer-box{
    justify-content: space-between;
}
.footer-img-sec{
    align-items: center;
}
.footer-para{
    text-align: justify;
    justify-content: center;   
}
.footer-link{
    list-style: none;
    font-weight: 800;
    font-size: 1.25rem;

}
.footer-link-title{
    font-weight: 800;
    font-size: 1.50rem;
}
.footer-link{
    font-weight: 700;
    font-size: 1.25rem;
    padding-top: 20px;
}
.footer-para{
    padding-top: 20px;
}
ul> li> a{
    text-decoration: none;
    color: white; 
    padding-bottom:10px;
}
.footer-icon-title{
    margin-bottom: 20px;
}
.footer-img-icon{
    margin-right: 10px;
}




/* Responsive Media Styles */
@media screen and (max-width: 576px) {

    .nab {
        overflow: hidden;
        position: relative;
    }

    .nav,
    .nav-links {
        display: none;
    }

    .banner-section {
        flex-direction: column-reverse;
        width: auto;
    }

    .nav-links,
    .nav-button {
        overflow: hidden;
        position: relative;
    }
 

    /* Curriculum section responsive styles */
    .curriculum-section {
        margin: auto;
        grid-template-columns: repeat(1, 1fr);
    }

    .curriculum-details {
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
    }
    .curriculum-card {
        overflow: hidden;
        grid-template-columns: repeat(1, 1fr);
        width: 325px;
        height: 280px;
        
    }
    .school-stories{
       margin: auto;
    }
    .stories-left-side{
        display: none;
    }   
    .school-footer{
        margin: auto;
    }
    .footer-box{
        gap: 20px;
    }


}